@charset "UTF-8";

header {
  padding:10px;
  background: #58A4B0;
}

#nav-drawer {
  position: relative;
}

/*チェックボックス等は非表示に*/
.nav-unshown {
  display:none;
}

/*アイコンのスペース*/
#nav-open {
  display: inline-block;
  width: 30px;
  height: 22px;
  vertical-align: middle;
}

/*ハンバーガーアイコンをCSSだけで表現*/
#nav-open span, #nav-open span:before, #nav-open span:after {
  position: absolute;
  height: 3px;/*線の太さ*/
  width: 25px;/*長さ*/
  border-radius: 3px;
  background: white;
  display: block;
  content: '';
  cursor: pointer;
}
#nav-open span:before {
  bottom: -8px;
}
#nav-open span:after {
  bottom: -16px;
}

/*閉じる用の薄黒カバー*/
#nav-close {
  display: none;/*はじめは隠しておく*/
  position: fixed;
  z-index: 99;
  top: 0;/*全体に広がるように*/
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  transition: .3s ease-in-out;
}

/*中身*/
#nav-content {
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;/*最前面に*/
  width: 90%;/*右側に隙間を作る（閉じるカバーを表示）*/
  max-width: 30%;/*最大幅（調整してください）*/
  height: 100%;
  background: #58A4B0;/*背景色*/
  transition: .3s ease-in-out;/*滑らかに表示*/
  -webkit-transform: translateX(-105%);
  transform: translateX(-105%);/*左に隠しておく*/
}

/*チェックが入ったらもろもろ表示*/
#nav-input:checked ~ #nav-close {
  display: block;/*カバーを表示*/
  opacity: .5;
}

#nav-input:checked ~ #nav-content {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);/*中身を表示（右へスライド）*/
  box-shadow: 6px 0 25px rgba(0,0,0,.15);
}

#category {
  margin: 30px 30px 30px 30px;
  background-color: white;
}

/* .container {
  width: 1152px;
  margin: 0 auto;
} */

#nav-drawer2 {
  position: relative;
  margin-right: 60px;
}

/*チェックボックス等は非表示に*/
.nav-unshown2 {
  display:none;
}

/*アイコンのスペース*/
#nav-open2 {
  display: inline-block;
  width: 30px;
  height: 22px;
  vertical-align: middle;
}



/*閉じる用の薄黒カバー*/
#nav-close2 {
  display: none;/*はじめは隠しておく*/
  position: fixed;
  z-index: 99;
  top: 0;/*全体に広がるように*/
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  transition: .3s ease-in-out;
}

/*中身*/
#nav-content2 {
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;/*最前面に*/
  width: 90%;/*右側に隙間を作る（閉じるカバーを表示）*/
  max-width: 30%;/*最大幅（調整してください）*/
  height: 100%;
  background: #58A4B0;/*背景色*/
  transition: .3s ease-in-out;/*滑らかに表示*/
  -webkit-transform: translateX(-105%);
  transform: translateX(-105%);/*左に隠しておく*/
}

/*チェックが入ったらもろもろ表示*/
#nav-input2:checked ~ #nav-close2 {
  display: block;/*カバーを表示*/
  opacity: .5;
}

#nav-input2:checked ~ #nav-content2 {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);/*中身を表示（右へスライド）*/
  box-shadow: 6px 0 25px rgba(0,0,0,.15);
}

#category2 {
  margin: 30px 30px 30px 30px;
  background-color: white;
}

.top_photo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 30px;
    /* margin-top: 120px; */
}

.pc {
    display: block !important;
}

.phpt_pc {
     display: block !important;
}

.sp { 
    display: none !important; 
}

.phpt_sp { 
    display: none !important; 
}

.top_logo{
    position: absolute;
    bottom: 320px;
    left: 0px;
    z-index: 100;
}

.top_right{
    position: absolute;
    top: 233px;
    right: 3px;
}


@media screen and (max-width:767px){

    .container{
        width: 100%;
    }

    /* .menu{
        display: none;
    } */

    /* .n2-ss-align n2-ss-align-visible{
        width: 100vw;
    } */

    .pc {
        display: none !important;
    }
    
    .phpt_pc { 
        display: none !important; 
    }

    .sp { 
        display: block !important; 
    }

    .phpt_sp {
         display: block !important; 
    }

    .top_photo{
        width: 100%;
        flex-direction: column;
        /* margin-top: 20px; */
    }

    .photo_box{
        position: relative;
        width: 100%;
    }

    .top_logo{
        position: relative;
        bottom: 15px;
    }

    .top_right{
        position: absolute;
        left: 10px;
        top: 10px;
    }
}

.container {
  width: 100%;
  margin: 0 auto;
  background-color: #58A4B0;
}

body {
  color: #707070;
}



header {
  display: flex;
  
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 60px;
  justify-content: space-between;
}

h1 {
  font-size: 25px;
}

#blog-title {
  color: white;
  font-size: 24px;
}

.top-image {
  width: 100%;
  height: 450px;
}

.header-p {
  margin-top: 15px;
  font-size: 24px;
}

.header-p2 {
  display: none;
}

.sub-title {
  font-size: 27px;
  margin-top: 85px;
  margin-bottom: 50px;
  /* margin: 0 auto; */
  display: flex;
  justify-content: center;
}

#message {
  color: white;
  line-height: 30px;
  position: relative;
  /* width: 700px; */
  /* left: 280px;
  top: 120px; */
}

#message p {
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -250%);
    -ms-transform: translate(-50%, -50%);
}

.article {
  width: 320px;
  margin-bottom: 30px;
  /* margin-top: 30px; */
  background-color: white;
}

.article a {
  text-decoration: none;
  color: #58A4B0;
}

.article img {
  width: 320px;
  height: 210px;
}

.title, .date {
  /* line-height: 40px; */
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

.date {
  margin-bottom: 30px;
}

.articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 120px;
  margin-right: 120px;
  /* width: 900px; */
  /* margin: 0 auto; */
}

.article-content {
  font-size: 15px;
  line-height: 25px;
  margin-top: 25px;
  margin-bottom: 10px;
}

.article:hover {
  box-shadow: 0 0 8px gray;
}

.read-more-div {
  height: 170px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* flex-direction: row; */
}

.read-more a {
  color: black;
  font-size: 12px;
  text-decoration: none;
  margin-right: 15px;
  
  position: relative;
  display: inline-block;
  margin-bottom: 1em;
}

.read-more a:before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -15px;/*線の上下位置*/
  display: inline-block;
  width: 20px;/*線の長さ*/
  height: 1px;/*線の太さ*/
  -webkit-transform: translateX(-50%);
  transform: translateX(80%);/*位置調整*/
  background-color: black;/*線の色*/
  border-radius: 2px;/*線の丸み*/
}


.read-more a:hover:before {
  /* display: none; */
  content: '';
  position: absolute;
  left: 50%;
  bottom: -15px;/*線の上下位置*/
  display: inline-block;
  width: 70px;/*線の長さ*/
  height: 1px;/*線の太さ*/
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);/*位置調整*/
  background-color: black;/*線の色*/
  border-radius: 2px;/*線の丸み*/

  transition: all 800ms 0s ease;
}

.nav-pagination {
  display: flex;
  justify-content: center;
  padding-bottom: 60px;
  padding-top: 30px;
}

.nav-pagination li, .nav-pagination li a {
  /* text-decoration: none; */
  color: white;
  font-size: 24px;
  margin-right: 30px;
}

.nav-pagination li {
  color: #707070;
}

/* @media screen and (max-width:960px){
    .container{
        width: 100%;
    }
} */

@media screen and (max-width:600px){


    .header-right{
        display: none;
    }

    .articles{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

    }
}

.cotact-title{
  font-size: 25px;
  margin-top: 35px;
  margin-left: 15px;
  margin-bottom: 35px;
}

form{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 50px;
  width: 480px;
}

form :nth-child(3){
  height: 200px;
}

.contact-text{
  height: 30px;
  margin-bottom: 30px;
}
 

footer{
  margin-top: 80px;
  height: 120px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

small{
  color: white;
  font-size: 15px;
}

.main-content{
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 25px;
  line-height: 60px;
}

.main-title{
  font-size: 30px;
  color: rgb(201, 191, 1);
}

.main-box{
  min-height: 400px;
}

#main-nav {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

#category h2, #category2 h2 {
  font-size: 40px;
  color: #58A4B0;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

#main-nav li {
  text-align: center;
  margin-bottom: 30px;
  /* background-color: #CBA135; */
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 30px;
  margin-right: 30px;
}

#main-nav li a{
  /* margin-right: 30px; */
  /* margin-top: 50px; */
  font-size: 30px;
  /* text-decoration: none; */
  color: #58A4B0;
  /* margin: 0 auto; */
 
  /* justify-content: center; */
}

#nav-input {
  display: none;
}

label i {
  color: white;
  margin-right: 60px;
}

#icons {
  display: flex;
  justify-content: space-between;
  margin-right: 60px;
  margin-left: 60px;
  padding-bottom: 30px;
}

#category2 i {
  color: #58A4B0;
  /* margin-right: 20px; */
  /* justify-content: space-between; */
}


#category2 p {
  color: #58A4B0;
  text-align: center;
  line-height: 50px;
  padding-right: 30px;
  padding-left: 30px;
}

@media screen and (max-width:767px){

  .container{
      width: 100%;
      margin: 0 auto;
  }

  /* .menu{
      display: none;
  } */

  .pc { display: none !important; }
  .sp { display: block !important; }

  .top_photo{
      width: 100vw;
      flex-direction: column;
      margin-top: 20px;
  }

  .photo_box{
      position: relative;
  }

  .top-image{
      width: 100%;
  }

  .top_logo{
      position: relative;
      bottom: 10px;
  }

  .top_right{
      position: absolute;
      left: 10px;
      top: 10px;
  }


  .header-p{
    display: none;
  }

  .header-p2 {
    display: block;
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
    line-height: 30px;
  }

  .sub-title {
    margin-bottom: 10px;
  }

  .articles{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }
  
 
} 
